.login-form-control {
    width: 27.75rem;
    height: 3rem;
}

.login-btn {
    position: relative;
    width: 25%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color: #131313;
    border: none;
    color: #fff;
    padding: 10px;
    z-index: 1;
}

.login-btn-disabled {
    cursor: not-allowed;
}

@media screen and (max-width: 480px) {

    .login-form-control {
        width: 20.5rem;

    }

    .login-btn {
        width: auto;
    }

}