.login-form input {
    width: 30rem;
    /* height: 3rem; */
}

.login-btn {
    position: relative;
    width: 6.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color: #131313;
    border: none;
    color: #fff;
    padding: 10px;
}

.login-btn-disabled {
    cursor: not-allowed;
}

@media screen and (max-width: 480px) {

    .login-form input {
        width: 100%;
        /* height: 3rem; */
    }
    
}