.resetpassword-btn {
    position: relative;
    width: 25%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color: #131313;
    border: none;
    color: #fff;
    padding: 10px;
    z-index: 1;
}

.resetpassword-btn-disabled {
    cursor: not-allowed;
}