.forgotpass-form input {
    width: 30rem;
}

.resetpassword-btn {
    position: relative;
    width: 6.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color: #131313;
    border: none;
    color: #fff;
    padding: 10px;
}

.resetpassword-btn-disabled {
    cursor: not-allowed;
}

@media screen and (max-width: 480px) {

    /* .forgotpass-form {
        margin-left: 1rem;
        margin-right: 1rem;
    } */

    .forgotpass-form input {
        width: 100%;
    }

}