.contact-form {
    margin-top: 1rem;
}

.contactus-form input {
    width: 31.75rem;
}

.contactus-form .form-select {
    width: 31.75rem;
    height: 3rem;
}


.text-area {
    width: 100%;
    height: 7rem;
}


.contactus-modal-btn {
    position: relative;
    width: 4.5rem;
    border: none;
    padding: 0.35rem;
    color: #ffffff;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    background-color: #131313;
}

