.bestsellers-card,
.newarrivals-card {
    text-align: center;
}

.bestsellers-img {
    width: 100%;
    transition: .3s ease-in-out;
}

.bestsellers-img:hover {
    transform: scale(1.075);
}

.product-name,
.product-price {
    font-weight: normal;
}


/* @media screen and (max-width: 768px) {

    .bestsellers-card {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: center;
        
    }

    .bestsellers-img {
        width: 10rem;
    }
    
} */

@media screen and (max-width: 480px) {

    .bestsellers-card {
        margin-top: 1rem;
    }

    .bestsellers-img {
        width: 8.5rem
    }

    .bestsellers-name {
        font-size: 0.875rem;
        font-weight: 600;
    }

    .bestsellers-price {
        font-size: 0.875rem;
    }

}