@media screen and (max-width: 480px) {

    .bestsellers-card {
        margin-top: 1rem;
    }

    .bestsellers-img {
        width: 8.5rem
    }

    .bestsellers-name {
        font-size: 0.875rem;
        font-weight: 600;
    }

    .bestsellers-price {
        font-size: 0.875rem;
    }

}