.creaateaccount input {
    width: 30rem;
}

.invalid-password-text {
    width: 27rem;
}

.form-check input {
    margin-left: -1.5rem;
    width: auto;
}

.form-check-input[type=checkbox] {
    border-radius: 0;
}

.form-check-input:focus {
    border-color: #e8e8e1;
    box-shadow: none;
}

/* .form-check-label {
    width: 27.75rem;
} */

.register-label-container {
    margin-top: -0.625rem;
}

.register-label {
    font-size: 0.815rem;
}

.register-label-underline {
    text-decoration: underline;
    text-underline-position: under;
}

.register-btn {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    width: 6.5rem;
    text-align: center;
    background-color: #131313;
    border: none;
    color: #fff;
    padding: 10px;
}

.register-btn-disabled {
    cursor: not-allowed;
}


@media screen and (max-width: 480px) {

    .creaateaccount input {
        width: 20rem;
    }

    /* .form-check-label {
        width: 100%;
    } */

    /* .register-label-container {
        width: 100%;
    } */

    /* .register-btn {
        width: 30%;
    } */
}




