@media screen and (max-width: 480px) {

    .newarrivals-card {
        margin-top: 1rem;
    }

    .newarrivals-img {
        width: 8.5rem
    }

    .newarrivals-name {
        font-size: 0.875rem;
        font-weight: 600;
    }

    .newarrivals-price {
        font-size: 0.875rem;
    }

}